[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TukeyRegion"]
	path = TukeyRegion
	url = https://github.com/cran/TukeyRegion
[submodule "curveDepth"]
	path = curveDepth
	url = https://github.com/cran/curveDepth
